$light-color: #888888;
$dark-color: #383838;
$primary-color: #d35266;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}


main {
  .look-up {
    display: none;
  }
  // left column
  .search-section {
    padding-left: 5rem;
  }

  label {
    padding-left: 0.8rem;
  }

  // right column

  .single {
    h4 {
      font-size: 14px;
    }

    p,
    h5,
    span {
      font-size: 14px;
    }
    .left-img {
      padding: 0;
      position: relative;

      .arrow-bottom {
        bottom: 0;
        right: 0;
        width: 3rem;
        background-color: $light-color;
        color: $primary-color;
        position: absolute;
      }


    }
  }

  .jumbotron {
    
  }


  

}


