$light-color: #888;
$dark-color: #383838;
$primary-color: #d35266;

@font-face {
  font-family: 'gothambld';
  src: url('fonts/Gotham-Font/GothamBold.ttf') format('woff2');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'gotham lght';
  src: url('fonts/Gotham-Font/GothamLight.ttf') format('woff2');
  font-style: normal;
  font-weight: 500;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'gothambld', Helvetica, Arial, sans-serif;
}

a,
p,
li a,
h3,
h4 {
  color: $dark-color;
}

summary h1 {
  color: $primary-color;
}

a:hover {
  text-decoration: none;
}

.footer-effect:hover {
  color: $primary-color;
}

footer {
  li,
  p {
    font-size: 12px;
  }

  ul {
    list-style: none;
  }

  h4 {
    color: $primary-color;
    font-size: 16px;
    border-bottom: 1px solid $primary-color;
    padding-bottom: 0.5rem;
  }
}

nav {
  background-color: $dark-color;
  font-size: 1rem;

  ul {
    li {
      list-style: none;

      i {
        padding-top: 2rem;
      }
    }
  }

  .item {
    color: $light-color;
  }

  .user {
    a {
      // font-size: 1.5rem;
      color: $light-color;
    }
  }
}

main {
  h6 {
    span {
      font-size: 12px;
      padding-left: 1rem;
      color: $light-color;
    }
  }

  .search-items {
    border: none;
    height: 2.4rem;
    border-radius: 5px;
    background: transparent;
  }

  .search-section {
    background-color: $primary-color;
    height: 20rem;

    h1,
    p {
      color: white;
    }
  }

  .see-all {
    background-color: white;
  }

  .look-up {
    width: 88%;
    margin: 0 auto;
  }

  .both-icons {
    font-size: 2rem;
    top: 50%;

    a {
      color: $dark-color;
    }
  }

  #round1,
  #round2 {
    color: $primary-color;
  }

  .left {
    left: -10px;
  }

  .right {
    right: -10px;
  }

  .pop-up {
    width: 5rem;
    height: 4rem;
    font-size: 10px;
    text-decoration: $dark-color;
  }

  .hot-ad {
    h4 {
      a {
        color: $primary-color;
      }
    }

    h5 {
      font-size: 14px;

      span {
        color: $light-color;
        font-size: 13px;
      }
    }

    .left-img {
      padding: 0;
      height: 12rem;
      width: 100%;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;

      .arrow-bottom {
        bottom: 0;
        right: 0;
        width: 3rem;
        height: 1.3rem;
        background-color: $light-color;
        color: $primary-color;
        position: absolute;
      }
    }

    p {
      font-size: 15px;
    }

    .price-details {
      .price {
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
      }

      .details {
        border-left: 1px solid white;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
      }

      span {
        background-color: $primary-color;
        color: white;
        padding: 0.6rem;
      }
    }
  }

  .row-title {
    padding: 1rem 0 0 8rem;
  }

  .card {
    h6 {
      color: $light-color;
      font-size: 12px;
    }

    .card-title {
      color: $primary-color;
      font-size: 14px;
    }

    .card-text {
      font-size: 14px;
    }

    .cart {
      span {
        color: $primary-color;
        font-weight: 900;
      }
    }

    transition: 0.5s;
  }

  .card:hover {
    -webkit-box-shadow: 1px 0 5px 6px rgba(209, 61, 110, 0.14);
    -moz-box-shadow: 1px 0 5px 6px rgba(209, 61, 110, 0.14);
    box-shadow: 1px 0 5px 6px rgba(209, 61, 110, 0.14);
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    z-index: 999;
  }
}

@media (max-width: 768px) {
  header {
    .features {
      font-size: 1rem;
      padding-top: 0.8rem;
      font-weight: bold;
    }

    .disa {
      display: none;
    }
  }

  .card-text {
    font-size: 30px;
  }

  .look-up {
    font-size: 0.8rem;
    width: 3rem;
    margin: 0;
  }

  select {
    option {
      font-size: 10px;
    }
  }

  .search-section {
    h1 {
      font-size: 1.5rem;
    }
  }
}
